Repository tektoncd/results, pull requests merged in 2022-10, with the labels that each got.

#245 fix misspelled word
  pkg/api/server/v1alpha2/results_test.go
Labels: size/XS, ok-to-test, lgtm, approved

#249 Enhance the support for reading Results and Records across multiple collections
  docs/api/README.md
  pkg/api/server/v1alpha2/auth/rbac.go
  pkg/api/server/v1alpha2/records.go
  pkg/api/server/v1alpha2/records_test.go
  pkg/api/server/v1alpha2/results.go
  pkg/api/server/v1alpha2/results_test.go
Labels: ok-to-test, size/M, lgtm, approved

#255 Fix resource deletion and refactor watcher
  pkg/watcher/reconciler/dynamic/dynamic.go
  pkg/watcher/reconciler/dynamic/dynamic_test.go
  pkg/watcher/reconciler/pipelinerun/controller.go
  pkg/watcher/reconciler/pipelinerun/reconciler.go
  pkg/watcher/reconciler/taskrun/controller.go
  pkg/watcher/reconciler/taskrun/reconciler.go
Labels: size/L, lgtm, approved
