Repository tektoncd/results, pull requests merged in 2023-07, with the labels that each got.

#529 add base-only kustomization for minimal install
  config/overlays/base-only/kustomization.yaml
Labels: kind/feature, size/S, ok-to-test, release-note, lgtm, approved

#517 Add delete count and duration metrics for TaskRun and PipelineRun
  cmd/watcher/main.go
  docs/DEVELOPMENT.md
  docs/metrics.md
  pkg/api/server/v1alpha2/logs_test.go
  pkg/apis/config/metrics.go
  pkg/apis/config/store.go
  pkg/apis/config/store_test.go
  pkg/apis/config/testdata/config-observability.yaml
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
  pkg/watcher/reconciler/dynamic/dynamic.go
  pkg/watcher/reconciler/pipelinerun/controller.go
  pkg/watcher/reconciler/pipelinerun/reconciler.go
  pkg/watcher/reconciler/taskrun/controller.go
  pkg/watcher/reconciler/taskrun/reconciler.go
  vendor/knative.dev/pkg/metrics/metricstest/metricstest.go
  vendor/knative.dev/pkg/metrics/metricstest/resource_metrics.go
  vendor/knative.dev/pkg/metrics/testing/config.go
  vendor/modules.txt
Labels: kind/feature, ok-to-test, size/XXL, release-note, lgtm, approved

#530 Skip TLS certificate verification for e2e
  test/e2e/e2e_test.go
Labels: size/S, release-note-none, kind/misc, lgtm, approved

#544 fix NOT operator in CEL filtering
  pkg/api/server/cel2sql/convert_test.go
  pkg/api/server/cel2sql/interpreter.go
  pkg/api/server/cel2sql/operators.go
Labels: kind/bug, size/S, ok-to-test, release-note, lgtm, approved
