Repository tektoncd/results, pull requests merged in 2025-01, with the labels that each got.

#909 Fix S3 multipart upload if logs are bigger than S3_MULTI_PART_SIZE
  pkg/api/server/v1alpha2/log/s3.go
  pkg/api/server/v1alpha2/log/s3_test.go
Labels: kind/bug, size/S, ok-to-test, release-note, lgtm, approved

#915 Migrate to GitHubAction for GolangCI Lint
  .github/workflows/golangci-lint.yaml
  pkg/api/server/cel2sql/interpreter.go
  pkg/api/server/config/config.go
  pkg/api/server/db/pagination/pagination.go
  pkg/api/server/v1alpha2/log/s3.go
  pkg/api/server/v1alpha2/ordering_test.go
  pkg/api/server/v1alpha2/plugin/plugin_logs.go
  test/presubmit-tests.sh
Labels: release-note, kind/misc, size/M, lgtm, approved

#914 Support for release to ghcr.io
  release/release.sh
  tekton/release-cheatsheet.md
  tekton/release-run.yaml
  tekton/release.yaml
  tekton/trigger.yaml
  tekton/vendor/README.md
  tekton/vendor/vendor.sh
Labels: size/L, release-note, kind/misc, lgtm, approved
